@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,600..700&family=Source+Sans+3:wght@400;500;600;700&display=swap");
@import "tailwindcss";

@theme {
  --color-brand-primary: #50abe4;
  --color-brand-primary-soft: #eaf6fc; /* Light blue tint */
  --color-brand-primary-dark: #1f6491; /* Dark blue for readable text */

  --color-brand-secondary: #f59242;
  --color-brand-accent: #202020;

  --font-brand: "Source Sans 3", "system-ui", "sans-serif";
  --font-headers: "Fraunces", "serif";
}

/* Force hover to work on all devices (especially laptops with touchscreens) */
@custom-variant hover (&:hover);

@layer base {
  html,
  body {
    margin: 0;
    width: 100%;
    font-family: var(--font-brand);
    color: var(--color-brand-primary);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-headers);
  }
}
